@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --eerie-black: 0 0% 11%;
    --floral-white: 45 43% 95%;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 240 4% 46%;
    --popover: 45 100% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --primary: 0 0% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 45 43% 95%;
    --tertiary: 35 20% 83%;
    --tertiary-foreground: 35 18% 44%;
    --tertiary-border: 37 19% 73%;
    --text-detail: 0 0% 40%;
    --rose: 337, 54%, 56%;
    --destructive: 5 53% 46%;
    --destructive-foreground: 210 20% 98%;
    --accent: 0 0% 25%;
    --accent-foreground: 45 43% 95%;
    --modules-blue: 207 63% 47%;
    --modules-blue-foreground: 45 43% 95%;
    --modules-green: 165 54% 33%;
    --modules-green-foreground: 45 43% 95%;
    --modules-red: 5 53% 46%;
    --modules-red-foreground: 0 0% 11%;
    --modules-yellow: 37 73% 52%;
    --modules-yellow-foreground: 0 0% 11%;
    --modules-orange: 21 79% 49%;
    --modules-orange-foreground: 0 0% 11%;
    --modules-pink: 337 54% 56%;
    --modules-pink-foreground: 0 0% 11%;
    --modules-purple: 235 33% 46%;
    --modules-purple-foreground: 237 20% 83%;
    --modules-beige: 45 43% 95%;
    --modules-beige-foreground: 0 0% 11%;
    --modules-beige-dark: 37 5% 54%;
    --modules-beige-light: 45 100% 98%;
    --modules-beige-completion: 35 20% 83%;
    --modules-gray-light: 0 0% 53%;
    --modules-soft-dark: 0 0% 14%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
